html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  :root {

    /* color palette */
    --main-bg-color: #0b0b0b;
    --main-bg-gray-color: #1a1a1a;
    --main-text-color: #FBF8EF;
    --main-accent-orange-color: #FF6500;
    --main-accent-blue-color: #1E3E62;

    /* online order color */
    --uber-green: rgba(88, 190, 112, .8);
    --grubhub-orange: rgba(220, 137, 54, .8);
    --doordash-orange: rgba(235, 23, 0, .8);
    
    /* padding  */

    --pd-small: 8px;
    --pd-medium: 16px;
    --pd-large: 28px;
    --pd-huge: 36px;
    --pd-extra: 48px;
    --pd-extra_large: 56px;

  }

  body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h2 {
    font-size: var(--pd-huge);
  }

  button {
    padding: var(--pd-small) var(--pd-medium);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  

  /*header   */

.nav_container  {

  display: flex;
  background-color: rgba(255, 255, 255, .1);
  justify-content: space-around;
  align-items: center;
  padding: var(--pd-medium) 0;

     nav { 
      /* padding: var(--pd-large); */
      gap: var(--pd-medium);
       button {
         border: none;
         background-color: transparent;

         color: var(--main-text-color);
       }

       button:hover {
        background-color: rgba(150, 150, 150, 0.3);
       }

       button:active {
        background-color: var(--main-accent-orange-color);
        color: white;
       }
     }
}


.hero_area_container {
  background: url(./img/planing_table.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5em 50em rgba(10, 10, 10, 0.6);
  height: 600px;
  

  img {
    width: 400px;
    height: auto;
  }

  .hero_article {
    margin: 0 auto;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--pd-large);
    height: 70%;
    border-radius: var(--pd-medium);
    
    

    div {
      margin-bottom: var(--pd-large);
    }

    h1 {
      font-size: var(--pd-extra_large);
      color: var(--main-accent-orange-color);
      font-weight: bolder;
      width: 100%;
      text-shadow: 2px 2px 20px #373737;

      }
  
      h3 {
        padding-bottom: 16px;
        font-size: var(--pd-medium);
        text-shadow: 0px 0px 5px #373737;
        font-weight: bold;
        margin-bottom: var(--pd-small);
      
        
      }
  
      .cta_container {
        display: flex;  
        gap: var(--pd-medium);
        
        button {

          background-color: rgba(50, 50, 50, 0.2);
          border: solid white 2px;
          color: white;
          font-weight: bold;
        }

        button:hover {
          background-color: var(--main-accent-orange-color);
          transform: scale(1.1);
        }
      }

  }

}

.welcome_container {
  padding: var(--pd-extra_large) 0;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  height: 600px;

  .welcome_article {

    display: flex;
    flex-direction: column;
    justify-content: center;


    h2 {
      padding-bottom: var(--pd-small);
      font-weight: bold;
    }
    p {
      line-height: 1.8;
      padding-bottom: var(--pd-extra);
      font-weight: 500;
    }

    .cta_container {
      display: flex;
      gap: var(--pd-medium);

      button {
        color: white;
        background-color: var(--main-accent-orange-color);
        border: none;
        font-weight: bold;
      }

      button:hover {
        background-color: transparent;
        border: solid var(--main-bg-gray-color) 2px;
        transform: scale(1.1);
        color: var(--main-bg-gray-color);
        
      }
    }
  
  }


}

.recommendations_container {

  background-color: var(--main-bg-gray-color);

  .container {
    padding: var(--pd-extra);
    display: flex;
    gap: var(--pd-medium);

    .recommendations_article {
      display: flex;
      flex-direction: column;

      

      h2 {
        font-size: var(--pd-extra);
        font-weight: bolder;
        padding-bottom: var(--pd-medium);
      }

      p {
        line-height: 1.5;
        padding-bottom: var(--pd-extra);
      }

      .chef_recommendations {
        display: flex;
        gap: var(--pd-large);

        h3 {
          font-weight: bold;
          color: var(--main-accent-orange-color);
          padding-left: 0;
          padding-bottom: var(--pd-small);
        }

        ul {
          
          line-height: 1.8;

          li::before {
            content: '•';
            padding-right: var(--pd-small);
          }

          a {
            text-decoration: none;
            color: var(--main-text-color);
          }
        }
      }
    }
  }

  .recommendation_image {
    border-radius: 25px 0;
    overflow: hidden;
  }
}

.testimonial_container {

  .container {

    padding: var(--pd-extra_large);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--pd-large);

    .card {
      justify-self: center;
      background-color: #373737;
      padding: var(--pd-medium);
      max-width: 250px;
      display: flex;
      flex-direction: column;
      border-radius: var(--pd-medium);
      height: 450px;
  
      img {
        align-self: center;
        border-radius: 50%;
        overflow: hidden;
        height: 150px;
        width: 150px;
        object-fit: cover;
        border: solid 5px var(--main-accent-orange-color);
        margin-bottom: var(--pd-medium);
      }

      h3 {
        font-weight: bold;
        color: var(--main-accent-orange-color);
        margin-bottom: var(--pd-small);
      }

      p{
        line-height: 1.6;
        margin-bottom: var(--pd-medium);
      }

      h4 {
        align-self: flex-end;
        margin-top: auto;
        font-weight: bold;
        color: var(--main-accent-orange-color);
      }
  
    }

  }

}

.newsletter_container { 
  margin: var(--pd-extra);

  .container {

    background-color: var(--main-bg-gray-color);
    flex-direction: column;
    padding: var(--pd-large);
    border-radius: var(--pd-medium);

    h2 {
      font-weight: bolder;
      margin-bottom: var(--pd-small);
    }

    p {
      line-height: 1.5;
      margin-bottom: var(--pd-large);
    }

    .email_container {

      display: flex;
      gap: var(--pd-large);

      #email {
        flex: 1;
        padding-left: var(--pd-small);
        border-radius: var(--pd-small);
      }

      button {
        font-weight: bold;
        color: white;
        background-color: var(--main-accent-orange-color);
        border: solid 2px var(--main-text-color);
        transition: 0.3s;
      }

      button:hover {
        transform: scale(1.1);
        background-color: transparent;
      }
    }
  }

}

.footer_container {
  background-color: var(--main-text-color);
  color: var(--main-bg-gray-color);

  .container {
    padding: var(--pd-extra_large);
    display: flex;
    gap: var(--pd-large);

    ul {
      line-height: 1.7;
      display: flex;

      flex-direction: column;
      justify-content: flex-end;

      a {
        color: var(--main-bg-color);
        text-decoration: none;
        font-weight: bold;
      }
  
      a:hover {
        color: var(--main-accent-orange-color);
      }

    }
    

    h3{
      align-self: flex-end;
      font-weight: bolder;
      padding: 4px;
      color: var(--main-accent-orange-color);
    }

  }


}
.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;

}


/* Menu Page  */

.menu_container {

  .menu_hero_area {
    height: 700px;
    position: relative;
    place-content: center;
    overflow: hidden;
    place-content: center;
    color: var(--main-text-color);
    box-shadow: inset 0 0 5em 50em rgba(10, 10, 10, 0.6);

    .info_container {

      max-width: 800px;
      margin: 0 auto;
      h1 {
        font-size: clamp(1rem, -1.8125rem + 15vw, 6.625rem);
        font-weight: bolder;
        color: var(--main-accent-orange-color);
      }

      h2 {
        font-weight: bold;
      }

    }

    img {
      position: absolute; 
      top: 0;
      left: 0; 
      z-index: -10;
      filter: blur(5px) grayscale(20%);
      object-fit: cover;
      object-position: center;

    }


  }

  .container {
    padding: var(--pd-extra_large) var(--pd-large);
    gap: var(--pd-extra);
    align-items: center;

    img {
      height: 400px;
      width: 400px;
      border-radius: 50%;
      object-fit: cover;
      border: solid 10px var(--main-accent-orange-color);
    }

    h2 {
      text-transform: uppercase;
      font-weight: bolder;
      color: var(--main-accent-orange-color);
    }

    h3 {
      font-weight: 500;
      margin-bottom: var(--pd-medium);
    }

    ul {
      list-style: none;
      text-decoration: none;
      line-height: 1.7;
      padding-left: var(--pd-small);

      li:before {
        content: "•";
        padding-right: var(--pd-small);
      }

      a {
        text-decoration: none;
        transition: 0.3ms;
        color: var(--main-text-color);
      }
      a:hover {
        color: var(--main-accent-orange-color);
        transform: scale(1.1);
      }
    }
  }

}

/*  Reservations Page  */

.reservation_section {

  padding: var(--pd-extra_large);

  background-color: var(--main-bg-gray-color);


  .reservation_container {

    background-color: var(--main-text-color);
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--pd-medium);
    overflow: hidden;
    margin: 0 auto;
    color: var(--main-text-color);



    .reservation_form {
      display: flex;
      flex-direction: column;
      margin: var(--pd-extra);
      color: var(--main-bg-gray-color);
      text-transform: uppercase;
      font-size: var(--pd-medium);

      
      h1 {
        text-align: center;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: var(--pd-large);
        color: var(--main-bg-gray-color);
        margin-bottom: var(--pd-medium);
      }

      label {
        font-weight: bold;
        padding-bottom: var(--pd-small);
      }
      input, select {
        margin-bottom: var(--pd-medium);
        height: var(--pd-huge);
        padding-left: var(--pd-small);
      }

      select {
        font-weight: bold;
        font-size: var(--pd-medium);
      }
      textarea {
        height: 150px;
        resize: none;
        margin-bottom: var(--pd-huge);
      }

      button {
        font-weight: bold;
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        
      }
      button:before {
        content: "";
        top: 0;
        left: 0;
        background-color: var(--main-accent-orange-color);
        height: 100%;
        width: 100%;
        position: absolute;
        display: inline-block;
        z-index: -10;
        
        
      }

      button:hover {
        color: var(--main-text-color);
        border: solid 2px var(--main-text-color);
        transform: scale(1.05);
        
        
      }



      
    }

    

  }

}

.operation_hours {
  flex: 1;
  grid-column: 2;
  background: url(./img/restaurant.jpg);
  box-shadow: inset 0 0 5em 50em rgba(10, 10, 10, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: var(--pd-large);

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: var(--pd-extra);
    font-weight: bolder;
  }

  h3 {
    font-weight: bold;
    margin-bottom: var(--pd-small);
  }

  ul {
    padding-left: var(--pd-large );
    margin-bottom: var(--pd-large);
    list-style: circle;
    line-height: 1.7;
  }

  li:hover {
    cursor: none;
  }

  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    cursor: auto;
    user-select: text;
  }

}


/* Order Page  */


.order_container {

  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;

  h2 {
    flex: 1;
    text-align: center;
    font-weight: bolder;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .uber {
      background: url(./img/uber.jpg);

    }

    .grubhub {
      background: url(./img/grubhub.jpg);
    }

    .doordash {
      background: url(./img/doordash.jpg);
    }



    /* hover Effect */
    .uber:hover {
      background-color: var(--uber-green);

    }


    .grubhub:hover {

      background-color: var(--grubhub-orange);
    }

    .doordash:hover {
      background-color: var(--doordash-orange);
    }

    .uber:hover , .grubhub:hover, .doordash:hover {
      background-blend-mode: overlay;
      flex: 1.5;
      font-size: 4rem;
    }

    .uber, .grubhub, .doordash {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: 0.3s;
      cursor: pointer;
      box-shadow: inset rgba(10, 10, 10, 0.5) 0 0 5em 10em;
    }
 
}


/* Contact page  */

.contact_section {
  height: 100vh;
  align-content: center;

  .contact_container {
    max-width: 1200px;
    height: 80%;
    margin: 0 auto;
    background-color: var(--main-text-color);
    border-radius: var(--pd-medium);
    display: flex;
    overflow: hidden;

    .map {
      background: url(./img/map.png);
      background-position: center;
      background-size: cover;
      box-shadow: inset 0 0 5em 50em rgba(10, 10, 10, 0.1);
      flex: 1;
    }

  }
}


/*  Gallery Page  */

.gallery_img_container:nth-child(1) {
  background: url(./img/gallery/avocado_toast.jpg);
  background-size: cover;
  background-position: center;
}
.gallery_img_container:nth-child(2) {
  background: url(./img/gallery/shrimp_potato.jpg);
  background-size: cover;
  background-position: center;
}
.gallery_img_container:nth-child(3) {
  background: url(./img/gallery/rosemary_steak.jpg);
  background-size: cover;
  background-position: center;
}
.gallery_img_container:nth-child(4) {
  background: url(./img/gallery/oreo_cake.jpg);
  background-size: cover;
  background-position: center;
}
.gallery_img_container:nth-child(5) {
  background: url(./img/gallery/pancake.jpg);
  background-size: cover;
  background-position: center;
}

.gallery_img_container {
  display: flex;
  place-content: center;
  align-items: center;
  
  height: 400px;
  transition: .3s;

  h2 {
    font-size: var(--pd-extra_large);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
    color: var(--main-accent-orange-color);
    transition: 0.5s;
    transform: translateY(-30px);
    opacity: 0;
  }

  p {
    font-size: var(--pd-medium);
    font-weight: 600;
    letter-spacing: 5px;
    transition: .5s;
    transform: translateY(20px);
    opacity: 0;
    
  }
}

.gallery_img_container:hover {
  transform-origin: center;
  height: 80vh;
  box-shadow: inset 0 0 5em 50em rgba(10, 10, 10, 0.7);
  h2, p {
    transform: translateY(0);
    opacity: 1;
  }

}