html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  :root {

    /* color palette */
    --main-bg-color: #0b0b0b;
    --main-bg-gray-color: #1a1a1a;
    --main-text-color: #FBF8EF;
    --main-accent-orange-color: #FF6500;
    --main-accent-blue-color: #1E3E62;
    
    /* padding  */

    --pd-small: 8px;
    --pd-medium: 16px;
    --pd-large: 28px;
    --pd-huge: 36px;
    --pd-extra: 48px;
    --pd-extra_large: 56px;

  }

  body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h2 {
    font-size: var(--pd-huge);
  }

  button {
    padding: var(--pd-small) var(--pd-medium);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  

  /*header   */

.nav_container  {

  display: flex;
  background-color: rgba(255, 255, 255, .1);
  justify-content: space-around;
  align-items: center;
  padding: var(--pd-medium) 0;

     nav { 
      /* padding: var(--pd-large); */
      gap: var(--pd-medium);
       button {
         border: none;
         background-color: transparent;

         color: var(--main-text-color);
       }
     }
}


.hero_area_container {
  background: url(./img/planing_table.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

  img {
    width: 400px;
    height: auto;
  }

  .hero_article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;

    div {
      margin-bottom: var(--pd-large);
    }

    h1 {
      font-size: var(--pd-extra_large);
      color: var(--main-accent-orange-color);
      font-weight: bolder;
      padding-bottom: var(--pd-small);
      overflow: visible;
      word-break: normal;
      text-shadow: 0px 0px 5px #373737;
      }
  
      h3 {
        padding-bottom: 16px;
        font-size: var(--pd-medium);
        text-shadow: 0px 0px 5px #373737;
        margin-bottom: var(--pd-small);
        
      }
  
      .cta_container {
        display: flex;  
        gap: var(--pd-medium);
        
        button {

          background-color: rgba(50, 50, 50, 0.2);
          border: solid white 2px;
          color: white;
          font-weight: bold;
        }

        button:hover {
          background-color: var(--main-accent-orange-color);
          transform: scale(1.1);
        }
      }

  }

}

.welcome_container {
  padding: var(--pd-extra_large) 0;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  height: 600px;

  .welcome_article {

    display: flex;
    flex-direction: column;
    justify-content: center;


    h2 {
      padding-bottom: var(--pd-small);
      font-weight: bold;
    }
    p {
      line-height: 1.8;
      padding-bottom: var(--pd-extra);
      font-weight: 500;
    }

    .cta_container {
      display: flex;
      gap: var(--pd-medium);

      button {
        color: white;
        background-color: var(--main-accent-orange-color);
        border: none;
        font-weight: bold;
      }

      button:hover {
        background-color: transparent;
        border: solid var(--main-bg-gray-color) 2px;
        transform: scale(1.1);
        color: var(--main-bg-gray-color);
        
      }
    }
  
  }


}

.recommendations_container {

  background-color: var(--main-bg-gray-color);

  .container {
    padding: var(--pd-extra);
    display: flex;
    gap: var(--pd-medium);

    .recommendations_article {
      display: flex;
      flex-direction: column;

      

      h2 {
        font-size: var(--pd-extra);
        font-weight: bolder;
        padding-bottom: var(--pd-medium);
      }

      p {
        line-height: 1.5;
        padding-bottom: var(--pd-extra);
      }

      .chef_recommendations {
        display: flex;
        gap: var(--pd-large);

        h3 {
          font-weight: bold;
          color: var(--main-accent-orange-color);
          padding-left: 0;
          padding-bottom: var(--pd-small);
        }

        ul {
          
          line-height: 1.8;

          li::before {
            content: '•';
            padding-right: var(--pd-small);
          }

          a {
            text-decoration: none;
            color: var(--main-text-color);
          }
        }
      }
    }
  }

  .recommendation_image {
    border-radius: 25px 0;
    overflow: hidden;
  }
}

.testimonial_container {

  .container {

    padding: var(--pd-extra_large);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--pd-large);

    .card {
      justify-self: center;
      background-color: #373737;
      padding: var(--pd-medium);
      max-width: 250px;
      display: flex;
      flex-direction: column;
      border-radius: var(--pd-medium);
      height: 450px;
  
      img {
        align-self: center;
        border-radius: 50%;
        overflow: hidden;
        height: 150px;
        width: 150px;
        object-fit: cover;
        border: solid 5px var(--main-accent-orange-color);
        margin-bottom: var(--pd-medium);
      }

      h3 {
        font-weight: bold;
        color: var(--main-accent-orange-color);
        margin-bottom: var(--pd-small);
      }

      p{
        line-height: 1.6;
        margin-bottom: var(--pd-medium);
      }

      h4 {
        align-self: flex-end;
        margin-top: auto;
        font-weight: bold;
        color: var(--main-accent-orange-color);
      }
  
    }

  }

}

.newsletter_container { 

  .container {

    background-color: var(--main-bg-gray-color);
    flex-direction: column;
    padding: var(--pd-large);
    border-radius: var(--pd-medium);

    h2 {
      font-weight: bolder;
      margin-bottom: var(--pd-small);
    }

    p {
      line-height: 1.5;
      margin-bottom: var(--pd-large);
    }

    .email_container {

      display: flex;
      gap: var(--pd-large);

      #email {
        flex: 1;
        padding-left: var(--pd-small);
        border-radius: var(--pd-small);
      }

      button {
        font-weight: bold;
        color: white;
        background-color: var(--main-accent-orange-color);
        border: solid 2px var(--main-text-color);
        transition: 0.3s;
      }

      button:hover {
        transform: scale(1.1);
        background-color: transparent;
      }
    }
  }

}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;

}

